/* all pages */

body {
    background-image: url("/img/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Century Gothic";
}

.body-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 660px;
}

.body-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(39, 80, 133, 0.7);
    opacity: 50;
}

h1, h2 {
    color: #EDEC66;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
}

.main-page-return {
    height: 50px;
}

footer {
    color: #EDEC66;
}

input[disabled] {
    cursor: not-allowed;
    color: gray;
    border-color: gray;
}

a {
    color: #EDEC66;
    text-decoration-line: none;
}

a:visited {
    color: #EDEC66;
}

a:hover, a:active {
    color: #ED4F4E;
}

/* index page */

.index-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 70px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgba(39, 80, 133, 0.7);
    opacity: 50;
}

/* newMatch page */

.newMatch-form {
    margin-top: 15px;
}

.newMatch-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgba(39, 80, 133, 0.7);
    opacity: 50;
}

.newMatch-inner-div {
    height: 70px;
}

.newMatch-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.newMatch-text {
    margin: 0;
}

.newMatch-input {
    width: 304px;
    height: 25px;
}

.newMatch-button {
    width: 365px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #EDEC66;
    border-color: #EDEC66;
    background-color: rgb(39, 80, 133);
}

/* ongoingMatch and finished pages */

.ongoingMatch-scoreboard-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 450px;
    background-color: #264c59;
}

.ongoingMatch-scoreboard-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 780px;
    height: 430px;
    background-color: azure;
}

.ongoingMatch-scoreboard-innerPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 766px;
    height: 416px;
    background-color: #264c59;
}

.ongoingMatch-match-id {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 80px;
    margin-top: 7px;
    background-color: #05282f;
}

.ongoingMatch-match-id-text {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #c03b31;
}


.ongoingMatch-first-line, .ongoingMatch-third-line {
    display: flex;
    flex-direction: row;
    align-self: start;
    margin: 30px;
}

.ongoingMatch-first-line {
    margin-bottom: 20px;
}

.ongoingMatch-second-line {
    display: flex;
    flex-direction: row;
    justify-self: right;
    align-self: end;
    margin: 0;
}

.ongoingMatch-third-line {
    margin-top: 20px;
}

.ongoingMatch-player {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 255px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    color: azure;
    /*background-color: #05282f;*/
}
.ongoingMatch-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100px;
    margin-bottom: 0;
}

.finishedMatch-insteadForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100px;
    margin-bottom: 0;
}

.ongoingMatch-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #c03b31;
    background-color: #05282f;
    border-color: #05282f;
}

.finishedMatch-insteadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: #264c59;
}


.ongoingMatch-gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    color: #c03b31;
    background-color: #05282f;
}

.ongoingMatch-setArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    margin-left: 20px;
    color: #c03b31;
    background-color: #05282f;
}

.ongoingMatch-game, .ongoingMatch-score, .ongoingMatch-set, .ongoingMatch-set3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.ongoingMatch-score {
    margin-right: -3px;
}

.ongoingMatch-game {
    width: 120px;
}

.ongoingMatch-set3 {
    margin-right: 30px;
}

/* matchList page */

.matchList-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
}

.matchList-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.matchList-filter-form {
    height: 30px;
}

.matchList-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 11px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    color: #ED4F4E;
}

.matchList-search-area-base {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.matchList-search-area-outerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(39, 80, 133, 0.7);
    opacity: 50;
}

.matchList-search-area-innerPart {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 7px;
}

.matchList-search-formArea {
    display: flex;
    justify-content: center;
}

.matchList-search-form {
    display: flex;
    width: 400px;
}

.matchList-search-input {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
}

.matchList-search-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #EDEC66;
    border-color: #EDEC66;
    background-color: rgb(39, 80, 133);
}

.matchList-result-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 60px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgba(39, 80, 133, 0.7);
    opacity: 50;
}

.matchList-leftSide {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 465px;
}

.matchList-id {
    display: flex;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.matchList-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.matchList-player-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.matchList-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.matchList-cup-icon {
    display: flex;
    width: 50px;
}

.matchList-left-cup-icon {
    margin-right: 10px;
}

.matchList-right-cup-icon {
    margin-left: 10px;
}

.matchList-center-text {
    width: 50px;
}

.matchList-rightSide {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 465px;
}

.matchList-navigation {
    margin-top: 15px;
}

.matchList-page-selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchList-page-button-area {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.matchList-page-button {
    width: 50px;
    height: 50px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #EDEC66;
    border-color: #EDEC66;
    background-color: rgb(39, 80, 133);
}

.matchList-page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #EDEC66;
    background-color: rgb(39, 80, 133);
}











/*.match-list-name {*/
/*    display: flex;*/
/*    width: 295px;*/
/*}*/

/*input {*/
/*    display: block;*/
/*    width: 80%;*/
/*    margin: auto;*/
/*    height: 2em;*/
/*    size: 10px;*/
/*}*/
